.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: black;
  color: white;
  font-family: 'Bebas Neue', cursive;
  /* font-family: 'MuseoModerno', cursive; */


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.textButton {
  padding: 0;
  border: 0;
}

.spotivibesHeader {
  padding-top: 150px;
  font-size: 11rem;
  margin-bottom: 0;

}

.moodRing {
  margin-top: 0;
  font-size: 2rem;
  position: absolute;
  left: 700px;
  bottom: 400px;
}

.wrapper {
  position: absolute;
  top: 102.5%;
  left: 44%;
  width: 300px;

  border-radius: 2px;
  box-sizing: border-box;
  height: 300px;
  margin: -150px 0 0 -150px;
}


.forms {
  position: relative;
  top: 100px;
}

.spotifyPlayer {
  position: relative;
  top: 400px;
  padding-bottom: 150px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 200px;
  text-align: center;

  &:focus {
    outline: none;    
  }
}

.imageForm {
  position: relative;
  top: 100px;
}
input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}